.list {
  width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.list-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.list-content > div > svg {
  grid-template-columns: 1fr;
}
